<nav class="navbar navbar-light bg-light zindex-fixed fixed-top  headershadow">

    <div class="row w-100">
      <div class="col-2 col-lg-1 col-md-2 d-flex align-items-center justify-content-center">
        <img [src]="bv" style="height: 50px;">
      </div>
  
      <div class="col-9 col-sm-9 col-md-7 col-lg-5">
        <div class="row">
          <div class="col-2 col-sm-1 col-md-1 col-lg-1 d-flex align-items-center border-right">
            <button type="button" class="btn shadow-none" (click)="openfinmodal()">
              <i class="bi bi-house-door-fill d-flex align-items-center"  style="color:#424242 !important"
                style="cursor: pointer; font-size: large;"></i>
            </button>
          </div>
  
          <div class="col col-sm-11 col-md-7 col-lg-11">
            <div class="row">
              <div class="col-12  pb-0 d-flex align-items-end">
                <b><span style="color: #4CAF50;font-size:small">  {{entity.firm_name}}</span></b>
              </div>
              <div class="col-12   d-flex align-items-start">
                <small style="font-size: small;color:#8BC34A;" [style]="!entity.firm_name ? 'margin-top:5px':'margin-top:0px'">({{entity.div_id}}) {{entity.Branch_name}}</small>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
      <div class="col-1 col-sm-1 col-md-3 col-lg-6 d-flex align-items-center justify-content-end">
        <div class="btn-group">
          <button type="button" class="btn p-0 shadow-none"  id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu shadow" style="left: -140px !important;padding-top: 0px;margin-top: 8px;">
            <li><a class="dropdown-item bg-success text-light" href="#">Account</a></li>
            <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-key" aria-hidden="true"></i> Change Password</a></li>
             <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()"> <i class="fa-solid fa-lock"></i>  LogOut</a></li>
          </ul>
        </div>
      </div>
    </div>
   
  </nav>
   
  
  <div class="container-fluid" style="margin-top: 4rem;">
  
    <router-outlet></router-outlet>
  
    <div class="card pl-5" style="position: fixed;bottom:0.5px;left:0;right:0;width: 100%;z-index: 1;">
      <small style="margin-left: 15px;"> <a href="#" style="text-decoration: none;">Copyright </a>© Dynamic Super Software
        2021.</small>
    </div>
  </div>
   
  <div class="modal fade" id="FinYearModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header py-1" style="background-color: #FFF8DC;">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text lblwidth" id="basic-addon1">Branch</span>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="ref.Branch_code">
              <option *ngFor="let items of branchlist" [value]="items.Branch_code">{{items.Branch_name}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text lblwidth" id="basic-addon1">Company</span>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="ref.firm_id">
              <option *ngFor="let items of companylist" [value]="items.firm_id">{{items.firm_name}}</option>
            </select>
          </div>
  
          <div class="input-group mb-3">
            <span class="input-group-text lblwidth" id="basic-addon1">Year</span>
            <select class="form-select" [(ngModel)]="ref.div_id" (change)="onyearSelect(ref)">
              <option *ngFor="let items of years" [value]="items.div_id">{{items.div_id}}</option>
            </select>
          </div>
  
          <div class="modal-footer py-0">
            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success shadow-none btn-sm" data-bs-dismiss="modal"
            (click)="changeFinYear()" >Submit</button>
            
          </div>
        </div>
      </div>
    </div>


     