<div class="d-flex navbar-bg-color pl-5">
  <div>

    <button type="button" class="dss_nav_btn"   (click)="action='new'" id="new">
      <i class="fa fa-plus fa-1x"></i>&nbsp;
      <span>New</span>
    </button>
  </div>

  <div class="mx-1  border-1">
    <button type="button" class="dss_nav_btn" (click)="action='edit'" id="edit">
      <i class="fa fa-edit fa-1x"></i>&nbsp;
      <span>Edit</span>
    </button>
  </div>

  <div id="sep1" style="color: rgba(255, 255, 255, 0.336);font-size: 20px">|</div>

  <div class="mx-1">

    <button type="button" class="dss_nav_btn"   (click)="action='save'" id="save">
      <i class="fa fa-save fa-1x"></i>&nbsp;
      <span>Save</span>
    </button>
  </div>

  <div class="mx-1 border-1">

    <button type="button" class="dss_nav_btn"    (click)="action='undo'" id="undo">
      <i class="fa fa-undo fa-1x"></i>&nbsp;
      <span>Undo</span>
    </button>
  </div>

  <div id="sep1" style="color: rgba(255, 255, 255, 0.336);font-size: 20px">|</div>

  <div class="mx-1 border-1">
    <button type="button" class="dss_nav_btn"    (click)="action='print'" id="print">
      <i class="fa fa-print fa-1x"></i>&nbsp;
      <span>Print</span>
    </button>
  </div>
  <div id="sep1" style="color: rgba(255, 255, 255, 0.336);font-size: 20px">|</div>

  <div class="mx-1 border-1">

    <button type="button" class="dss_nav_btn" id="export">
      <i class="fa fa-truck fa-1x"></i>&nbsp;
      <span>E-Way Bill</span>
    </button>
  </div>

  <div id="sep1" style="color: rgba(255, 255, 255, 0.336);font-size: 20px">|</div>


  <div class="mx-1">
    <button type="button" class="dss_nav_btn" id="attach">
      <i class="fa fa-file-text fa-1x"></i>&nbsp;
      <span>e-Invoice</span>
    </button>
  </div>

  <div id="sep1" style="color: rgba(255, 255, 255, 0.336);font-size: 20px">|</div>

  <div>
    <button type="button" class="dss_nav_btn"  (click)="action='close'" id="close">
      <i class="fa fa-close fa-1x"></i>&nbsp;
      <span>Close</span>
    </button>
  </div>
</div>
